.bod{
    padding: 15%;
    padding-top: 2%;
    text-align: justify;
}
.med{
    text-align: center;
    padding: 3%;
}
.navbar{
    color:blueviolet;
}

#img-code{
    padding: 10px;
    width: 632px;
    height: 318px;
}
